.all-layouts {
    list-style-type: none;
}
.layout-btn {
    color: #ffffff;
    background-color: #000000;
    width: 10rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 1rem;
}
.layout-link {
    width: 10rem;
    text-decoration: none;
    color: #ffffff;
}